#root , head , body {
    height: 100vh;
}

body{
    margin: 0;
    background-color: whitesmoke;
}

*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.light-theme{
    background-color: whitesmoke;
}

.dark-theme{
    background-color: #111b20;
}